# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pool:
  vmImage: 'Ubuntu 16.04'

strategy:
  matrix:
    Node6:
      NODE_VERSION: '6.x'
    Node8:
      NODE_VERSION: '8.x'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: $(NODE_VERSION)
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run eslint
    npm run test-cov
  displayName: 'npm install and build'

- script: |
    npm install coveralls
    cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
  displayName: 'npm install and build'
